# Application-specific excludes
/bin/
/src/main/frontend/build/
/src/main/frontend/coverage/
/src/main/frontend/node/
/src/main/frontend/node_modules/
/src/main/frontend/.pnp
/target/

# Random junk that we don't want and can be sensitive
*~
.directory
.pnp.js
.DS_Store
.DS_Store?
**/.DS_Store
*.swp
._*
*~.nib
.Trashes
.Spotlight-V100
ehthumbs.db
Thumbs.db
Desktop.ini
.env.local
.env.development.local
.env.test.local
.env.production.local
.csettings
/libs/openFrameworksCompiled/project/android/paths.make

# We don't want backup or log data
*.sql
*.log
*.bak

# Compressed files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.war
*.zip

# Compiled sources
*.com
*.class
*.dll
*.exe
*.o
*.so

# NPM/yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log
